.row{
   background-color: gray;
   border:3px solid black;
   margin-bottom: 30px;
}
#chicken{
   background-color: #FB87FF;
}
#beef{
   background-color: #FF4F72;
}
#sushi{
   background-color: #E1FF8F;
}
*{
   margin:0;
   border:0;
   padding:0;
}
.items{
   position:relative;
   left: 80%;
   width:20%;
   padding:0;
   text-align: center;
   border-left:3px solid black;
   border-bottom:3px solid black;

}

h1{
   padding:40px 0px 60px 0px;
   font-size:40px;
   text-align:center;
}
@media (min-width:992px) {
   .row{
      background-color: gray;
      position:relative;
      margin-left:1.25%;
      margin-right:1.25%;
      width:30%;
      float:left;
   }
}
@media (min-width:768px) and (max-width:991px){
   .row{
      background-color: gray;
      position:relative;
      margin-left:1.25%;
      margin-right:1.25%;
      width:45%;
      float:left;
   }
   .row:nth-child(4){
      width: 92.5%;
   }
}
@media (max-width:766px) {
   .row{
      background-color: gray;
      position:relative;
      margin-left:1.25%;
      margin-right:1.25%;
      width:90%;

   }
}
